.vs/GameOfLife/v14/.suo
.vs/GameOfLife/v17/.suo
.vs/GameOfLife/v17/Browse.VC.db
.vs/GameOfLife/v17/Browse.VC.db-shm
.vs/GameOfLife/v17/Browse.VC.db-wal
.vs/GameOfLife/v17/Browse.VC.opendb
.vs/GameOfLife/v17/ipch/AutoPCH/85192d75806ca0c8/MAIN.ipch
.vs/GameOfLife/v17/ipch/AutoPCH/a55bfe48b24728e7/INIT.ipch
Debug/GameOfLife.exe
GameOfLife.sln
Debug/GameOfLife.ilk
Debug/GameOfLife.pdb
Debug/libjpeg-8.dll
Debug/libpng15-15.dll
Debug/libtiff-5.dll
Debug/libwebp-2.dll
Debug/SDL.dll
Debug/SDL_image.dll
Debug/zlib1.dll
GameOfLife/GameOfLife.vcxproj
GameOfLife/GameOfLife.vcxproj.filters
GameOfLife/GameOfLife.vcxproj.user
GameOfLife/Debug/GameOfLife.Build.CppClean.log
GameOfLife/Debug/GameOfLife.log
GameOfLife/Debug/init.obj
GameOfLife/Debug/main.obj
GameOfLife/Debug/vc140.idb
GameOfLife/Debug/vc140.pdb
GameOfLife/Debug/GameOfLife.tlog/CL.command.1.tlog
GameOfLife/Debug/GameOfLife.tlog/CL.read.1.tlog
GameOfLife/Debug/GameOfLife.tlog/CL.write.1.tlog
GameOfLife/Debug/GameOfLife.tlog/GameOfLife.lastbuildstate
GameOfLife/Debug/GameOfLife.tlog/link.command.1.tlog
GameOfLife/Debug/GameOfLife.tlog/link.read.1.tlog
GameOfLife/Debug/GameOfLife.tlog/link.write.1.tlog
GameOfLife/platform/win32/dll/libjpeg-8.dll
GameOfLife/platform/win32/dll/libpng15-15.dll
GameOfLife/platform/win32/dll/libtiff-5.dll
GameOfLife/platform/win32/dll/libwebp-2.dll
GameOfLife/platform/win32/dll/SDL.dll
GameOfLife/platform/win32/dll/SDL_image.dll
GameOfLife/platform/win32/dll/zlib1.dll
GameOfLife/platform/win32/include/begin_code.h
GameOfLife/platform/win32/include/close_code.h
GameOfLife/platform/win32/include/png.h
GameOfLife/platform/win32/include/pngconf.h
GameOfLife/platform/win32/include/pnglibconf.h
GameOfLife/platform/win32/include/SDL.h
GameOfLife/platform/win32/include/SDL_active.h
GameOfLife/platform/win32/include/SDL_audio.h
GameOfLife/platform/win32/include/SDL_byteorder.h
GameOfLife/platform/win32/include/SDL_cdrom.h
GameOfLife/platform/win32/include/SDL_config.h
GameOfLife/platform/win32/include/SDL_config.h.in
GameOfLife/platform/win32/include/SDL_config_dreamcast.h
GameOfLife/platform/win32/include/SDL_config_macos.h
GameOfLife/platform/win32/include/SDL_config_macosx.h
GameOfLife/platform/win32/include/SDL_config_minimal.h
GameOfLife/platform/win32/include/SDL_config_nds.h
GameOfLife/platform/win32/include/SDL_config_os2.h
GameOfLife/platform/win32/include/SDL_config_symbian.h
GameOfLife/platform/win32/include/SDL_config_win32.h
GameOfLife/platform/win32/include/SDL_copying.h
GameOfLife/platform/win32/include/SDL_cpuinfo.h
GameOfLife/platform/win32/include/SDL_endian.h
GameOfLife/platform/win32/include/SDL_error.h
GameOfLife/platform/win32/include/SDL_events.h
GameOfLife/platform/win32/include/SDL_getenv.h
GameOfLife/platform/win32/include/SDL_image.h
GameOfLife/platform/win32/include/SDL_joystick.h
GameOfLife/platform/win32/include/SDL_keyboard.h
GameOfLife/platform/win32/include/SDL_keysym.h
GameOfLife/platform/win32/include/SDL_loadso.h
GameOfLife/platform/win32/include/SDL_main.h
GameOfLife/platform/win32/include/SDL_mouse.h
GameOfLife/platform/win32/include/SDL_mutex.h
GameOfLife/platform/win32/include/SDL_name.h
GameOfLife/platform/win32/include/SDL_opengl.h
GameOfLife/platform/win32/include/SDL_platform.h
GameOfLife/platform/win32/include/SDL_quit.h
GameOfLife/platform/win32/include/SDL_rwops.h
GameOfLife/platform/win32/include/SDL_stdinc.h
GameOfLife/platform/win32/include/SDL_syswm.h
GameOfLife/platform/win32/include/SDL_thread.h
GameOfLife/platform/win32/include/SDL_timer.h
GameOfLife/platform/win32/include/SDL_types.h
GameOfLife/platform/win32/include/SDL_version.h
GameOfLife/platform/win32/include/SDL_video.h
GameOfLife/platform/win32/include/zconf.h
GameOfLife/platform/win32/include/zlib.h
GameOfLife/platform/win32/lib/SDL.lib
GameOfLife/platform/win32/lib/SDL_image.lib
GameOfLife/platform/win32/lib/SDLmain.lib
GameOfLife/Debug/GameOfLife.exe.recipe
GameOfLife/Debug/GameOfLife.ilk
GameOfLife/Debug/vc143.idb
GameOfLife/Debug/vc143.pdb
